body{
    font-family:'Montserrat ', sans-serif ;
}
#title{
    background-color: #ff4c68;
    height: 80%;
    
}
.headline{
    font-family: 'Montserrat ', sans-serif;
    font-size: 3.5rem;
    /* size: 3rem; */
    font-weight: 900;
    color: white;

   /* padding: 10%; */
    line-height: 1.5;
margin: 15% auto;
}
.navbar-nav {
    padding: 0 18px;

 }
 .btn{
    margin-right: 20px;
  
 }
.lin{
    font-size: 1.2rem;
    font-weight: light;  
   margin-right: 20px;

}
.container-fluid{
    padding: 2% 15%;
    padding-bottom: 100px;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif; 
      font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
.imga{ 

    width: 50%;
    transform: rotate(25deg);
    padding-top: 10%;
    /* margin-left: 80px; */
 

}
.df{
    position: absolute;
    right: 0%;

}
@media   (max-width:1000px){
    #title{
        text-align: center;
    }
    .df{
        position: absolute;
  z-index: -10;
    }
    
    .imga{
        transform: rotate(0deg);
      
    }
}
 
 

/* <!-- Features --> */
 
    #features{
        position: relative;
        background-color: white;

    }
 
.Features{
  align-items: center;
  text-align: center;
padding: 7% 15%;
}
.hole{
    padding:   40px;
}
.features-h3{
    font-family: 'Montserrat-bold ', sans-serif;
font-weight: bold;

}
.fa-fw{
    padding-bottom: 10%;
    color: #ef8172;
}
p{
    color: grey;
}
.fa-circle-check:hover {
    color:#ff4c68;
}
.fa-bullseye:hover  {
    color:#ff4c68;
}
.fa-heart:hover {
    color:#ff4c68;
}

/* <!-- Testimonials --> */
#testimonials{
background-color: #ef8172;
color: white;
text-align : center;
 
 
}
 
h2{
    font-family: 'Montserrat ', sans-serif;
font-weight: bold;
font-size: 3rem;
line-height: 1.5;
}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
    padding: 10px;
}
#press{
background-color: #ef8172;
text-align: center;
padding-bottom: 5%;
}
.press-image{
    width: 15%;
margin: 20px 20px 50px;
}
 .carousel-item{
    padding: 7% 15%;
 
}
 .carousel-indicators{
    
    border-radius: 50%;
    
 }

#pricing{
    text-align: center;
    /* padding: 7%; */
    padding: 100px;
}
 .card-css{
    margin: 5% auto;
 }
 #cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7%;
   

 }
 .btn-last{
   margin: 5% 1%;
 }
  .h3-last{
 font-weight: 900;
    font-family: 'Montserrat ', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: azure;
  }
#footer{
    text-align: center;
    padding: 5%;
    
}
.sym{
    padding:  8px;
}
.pricing-col{
    padding: 4% 2%;
}